@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, augue sit amet efficitur varius, magna libero euismod diam, ut pretium felis felis eget lorem. Maecenas non massa vitae tellus eu...
    </p>

    <div class="mt-4">
        <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
    </div>
</div>
