@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo, augue sit amet efficitur varius, magna libero euismod diam, ut pretium felis felis eget lorem. Maecenas non massa vitae tellus euismod pulvinar vel ut enim. Fusce ultrices orci id eleifend maximus. Ut at sapien tincidunt velit iaculis mattis. Fusce eget magna sed orci rhoncus pretium ac a sapien. Donec convallis ut magna eu vestibulum. Curabitur ut ultricies purus. Nam mattis nec lectus ut rutrum. Sed nec imperdiet ante. Aliquam eu felis in ante auctor euismod. Cras fringilla orci a erat posuere hendrerit. Cras lobortis orci quis turpis laoreet porttitor at quis magna. Sed varius nisi nec porta varius. Mauris nulla nisl, consequat sed mi quis, vehicula placerat quam.<div class="container mt-4">
        <a class="btn btn-secondary" href="@Url.Action("Index", "Home")">Previous Page</a>
    </div>
</div>
